extends ../templates/_main.pug
include ../helpers/mixins.pug



block content

  -let n = 1;
  -const months = [`январь`, `февраль`, `март`, `апрель`, `май`, `июнь`, `июль`, `август`, `сентябрь`, `октябрь`, `ноябрь`, `декабрь`];

  -let start_year = 2003;
  -let start_year_efendant = 1940;

  -const end_year = 2023;
  -const end_year_efendant = 2002;

  section.create
    .create__inner.container

      ul.create__breadcrumbs.breadcrumbs
        li.breadcrumbs__item
          a.breadcrumbs__link.hover-opacity(href="index.html") Главная
        li.breadcrumbs__item
          a.breadcrumbs__link.hover-opacity(href="index.html") Тип иска
        li.breadcrumbs__item
          a.breadcrumbs__link.hover-opacity(href="alimenty-step-2.html") Тарифный план
        li.breadcrumbs__item
          a.breadcrumbs__link.breadcrumbs__link--current Данные заявления

      h1.create__title.title.size-4 Создание заявления

      ul.create__path.path

        li.path__item
          .path__head
            p.path__name Тип иска:
            a.path__link.hover-opacity(href="index.html") Изменить
          p.path__text  Заявление в суд о выскании алиментов на ребенка

        li.path__item
          .path__head
            p.path__name Тарифный план:
            a.path__link.hover-opacity(href="alimenty-step-2.html") Изменить
          p.path__text  Мы готовим и помогаем вам подать заявление в суд 5&nbsp;000&nbsp;₽

        li.path__item.path__item--current
          .path__head
            p.path__name Данные заявления
            a.path__link
          p.path__text  Внимательно заполните все необходимые поля для формирования заявления

        li.path__item.path__item--end
          figure.path__img-wrap
            +img(`hands`, `png`, ``, `card__img`, `71`)
          p.path__text  Получите завяление согласно выбранному тарифному плану

  section.fill#fill

    .fill__inner.container
      h2.fill__title.size-3 Введите данные заявления

      .fill__content
        form.fill__form.fill-form--alimony(name="alimony" metod="post" acton="#" autocomplete="off")
          .fill-form__slider.slider
            .slider__item.slider__item--visually

              fieldset.fill-form__field
                legend.fill-form__title.size-1 Ваша фамилия, имя, отчество

                .fill-form__box
                  label.fill-form__label
                    span Ваша Фамилия
                    input(type="text" name="my-surname" placeholder="Ваша Фамилия").fill-form__input.input-text

                .fill-form__box
                  label.fill-form__label
                    span Ваше Имя
                    input(type="text" name="my-name" placeholder="Ваше Имя").fill-form__input.input-text

                .fill-form__box
                  label.fill-form__label
                    span Ваше Отчество
                    input(type="text" name="my-second-name" placeholder="Ваше Отчество").fill-form__input.input-text

              fieldset.fill-form__field
                legend.fill-form__title.size-1 Адрес регистрации по месту жительства

                .fill-form__box
                  label.fill-form__label
                    span Город
                    input(type="text" name="my-city" placeholder="Город").fill-form__input.input-text


                .fill-form__box.box
                  .box__inner.box__inner--tiny
                    label.fill-form__label.fill-form__label--select(for="my-type-street")
                      span Выберите улицу
                    .fill-form__select-wrap
                      select#my-type-street.fill-form__select(name="my-type-street")
                        option.fill-form__option(value="street") Улица
                        option.fill-form__option(value="boulevard") Бульвар
                        option.fill-form__option(value="travel") Проезд
                        option.fill-form__option(value="lane") Переулок
                        option.fill-form__option(value="avenue") Проспект

                  .box__inner.box__inner--wide
                    label.fill-form__label
                      span Название улицы
                      input(type="text" name="my-street" placeholder="Название улицы").fill-form__input.input-text

                .fill-form__box.box
                  .box__inner.box__inner--half
                    label.fill-form__label
                      span № дома
                      input(type="text" name="my-number-home" placeholder="№ дома").fill-form__input.input-num

                  .box__inner.box__inner--half
                    label.fill-form__label
                      span № кв.
                      input(type="text" name="my-number-flat" placeholder="№ кв.").fill-form__input.input-num.not_req

                .fill-form__box
                  label.fill-form__label
                    span Почтовый индекс
                    input(type="text" name="my-post" placeholder="Почтовый индекс").fill-form__input.input-num

              button.fill-form__btn.fill-form__btn--next(type="button") Далее

              p.fill-form__text Нажимая на кнопку вы соглашаетесь с
                a.fill-form__ofert(href="politics.html" target="_blank")  договором-офертой

            .slider__item
              fieldset.fill-form__field
                legend.fill-form__title.size-1 Фамилия, имя, отчество ответчика

                .fill-form__box
                  label.fill-form__label
                    span Фамилия ответчика
                    input(type="text" name="defendant-surname" placeholder="Фамилия ответчика ").fill-form__input.input-text

                .fill-form__box
                  label.fill-form__label
                    span Имя ответчика
                    input(type="text" name="defendant-name" placeholder="Имя ответчика").fill-form__input.input-text

                .fill-form__box
                  label.fill-form__label
                    span Отчество ответчика
                    input(type="text" name="defendant-second-name" placeholder="Отчество ответчика").fill-form__input.input-text

              fieldset.fill-form__field
                legend.fill-form__title.size-1 Дата рождения ответчика

                .fill-form__box.box
                  .box__inner--third
                    label.fill-form__label.fill-form__label--select(for="defendant-day")
                      span День
                    .fill-form__select-wrap

                      select#defendant-day.fill-form__select(name="defendant-day")
                        option(value="" selected) День
                        while n < 32
                          -const num = n++
                          option(value=`${num}`)= num


                  .box__inner--third
                    label.fill-form__label.fill-form__label--select(for="defendant-month")
                      span Месяц
                    .fill-form__select-wrap
                      select#defendant-month.fill-form__select(name="defendant-month")
                        option(value="" selected) Месяц
                        each val, index in months
                          option(value=`${index+ 1}`)= val

                  .box__inner--third
                    label.fill-form__label.fill-form__label--select(for="defendant-year")
                      span Год
                    .fill-form__select-wrap
                      select#defendant-year.fill-form__select(name="defendant-year")
                        option(value="" selected) Год
                        while start_year_efendant < end_year_efendant
                          -const num = start_year_efendant++
                          option(value=`${num}`)= num


              fieldset.fill-form__field
                legend.fill-form__title.size-1 Адрес фактического или последнего места жительства

                .fill-form__box
                  label.fill-form__label
                    span Город
                    input(type="text" name="defendant-city" placeholder="Город").fill-form__input.input-text


                .fill-form__box.box
                  .box__inner.box__inner--tiny
                    label.fill-form__label.fill-form__label--select(for="defendant-type-street")
                      span Выберите улицу
                    .fill-form__select-wrap
                      select#defendant-type-street.fill-form__select(name="defendant-type-street")
                        option.fill-form__option(value="street" selected) Улица
                        option.fill-form__option(value="boulevard") Бульвар
                        option.fill-form__option(value="travel") Проезд
                        option.fill-form__option(value="lane") Переулок
                        option.fill-form__option(value="avenue") Проспект

                  .box__inner.box__inner--wide
                    label.fill-form__label
                      span Название улицы
                      input(type="text" name="defendant-street" placeholder="Название улицы").fill-form__input.input-text

                .fill-form__box.box
                  .box__inner.box__inner--half
                    label.fill-form__label
                      span № дома
                      input(type="text" name="defendant-number-home" placeholder="№ дома").fill-form__input.input-num

                  .box__inner.box__inner--half
                    label.fill-form__label
                      span № кв.
                      input(type="text" name="defendant-number-flat" placeholder="№ кв.").fill-form__input.input-num.not_req

                .fill-form__box
                  label.fill-form__label
                    span Почтовый индекс
                    input(type="text" name="defendant-post" placeholder="Почтовый индекс").fill-form__input.input-num

              fieldset.fill-form__field
                legend.fill-form__title.size-1 Контактная информация (необязательно)

                .fill-form__box.box

                  .box__inner.box__inner--tiny
                    label.fill-form__label
                      span телефонный код
                      input(type="text" name="defendant-phone-code" placeholder="+7").fill-form__input.input-code.not_req

                  .box__inner.box__inner--wide
                    label.fill-form__label
                      span телефон ответчика
                      input(type="text" name="defendant-phone" placeholder="(___) ___-__-__").fill-form__input.input-phone.not_req

              button.fill-form__btn.fill-form__btn--next(type="button") Далее

              p.fill-form__text Нажимая на кнопку вы соглашаетесь с
                a.fill-form__ofert(href="politics.html" target="_blank")  договором-офертой

            .slider__item
              fieldset.fill-form__field
                legend.fill-form__title.size-1 Наличие общих несовершеннолетних детей

                .fill-form__box
                  label.fill-form__label.fill-form__label--select(for="childrens")
                    span Количество детей
                  .fill-form__select-wrap
                    select#childrens.fill-form__select(name="childrens")
                      option.fill-form__option(value="1" selected) Один
                      option.fill-form__option(value="2") Два
                      option.fill-form__option(value="3") Три

              fieldset.fill-form__field.field-children
                legend.fill-form__title.size-1 Данные несовершеннолетнего ребенка

                .fill-form__box
                  label.fill-form__label
                    span Фамилия
                    input(type="text" name="1-children-surname" placeholder="Фамилия").fill-form__input.input-text

                .fill-form__box
                  label.fill-form__label
                    span Имя
                    input(type="text" name="1-children-name" placeholder="Имя").fill-form__input.input-text

                .fill-form__box
                  label.fill-form__label
                    span Отчество
                    input(type="text" name="1-children-second-name" placeholder="Отчество").fill-form__input.input-text

              fieldset.fill-form__field.field-children
                legend.fill-form__title.size-1 Дата рождения

                .fill-form__box.box
                  .box__inner--third
                    label.fill-form__label(for="1-childrens-day")
                      span День
                    .fill-form__select-wrap

                      select#1-childrens-day.fill-form__select(name="1-childrens-day")
                        option(value="" selected) День
                        - n = 1
                        while n < 32
                          -const num = n++
                          option(value=`${num}`)= num


                  .box__inner--third
                    label.fill-form__label.fill-form__label--select(for="1-childrens-month")
                      span Месяц
                    .fill-form__select-wrap
                      select#1-childrens-month.fill-form__select(name="1-childrens-month")
                        option(value="" selected) Месяц
                        each val, index in months
                          option(value=`${index+ 1}`)= val

                  .box__inner--third
                    label.fill-form__label.fill-form__label--select(for="1-childrens-year")
                      span Год
                    .fill-form__select-wrap
                      select#1-childrens-year.fill-form__select(name="1-childrens-year")
                        option(value="" selected) Год
                        - start_year = 2003;
                        while start_year < end_year
                          -const num = start_year++
                          option(value=`${num}`)= num




              button.fill-form__btn.fill-form__btn--submit(type="submit") Далее

              p.fill-form__text Нажимая на кнопку вы соглашаетесь с
                a.fill-form__ofert(href="politics.html" target="_blank")  договором-офертой



        ul.fill__tabs.fill-tabs
          li.fill-tabs__item
            button.fill-tabs__btn.fill-tabs__btn--active.size-1.fill-tabs__btn-my(type="button") Ваши данные
          li.fill-tabs__item.fill-tabs__item--disabled
            button.fill-tabs__btn.size-1.fill-tabs__btn-defendant(type="button") Данные ответчика
          li.fill-tabs__item.fill-tabs__item--disabled
            button.fill-tabs__btn.size-1.fill-tabs__btn-child(type="button") Данные детей
